<!DOCTYPE html>
<html>
<head>
  <title>Product Addition Failed</title>
  <link rel="stylesheet" href="/css/failure.css">
</head>
<body>
  <div class="failure-container">
    <div class="failure-icon">&#10008;</div>
    <h1>Failed to Add Product</h1>
    <p>There was an error while adding the product.</p>
    <p>Please try again later.</p>
    <p><a href="/" class="back-link">Back to Products</a></p>
  </div>
</body>
</html>
