<!DOCTYPE html>
<html>
<head>
  <title>Product Added Successfully</title>
  <link rel="stylesheet" href="/css/success.css">
</head>
<body>
  <div class="success-container">
    <div class="success-icon">&#10003;</div>
    <h1>Product Added Successfully</h1>
    <p>Your product has been added successfully.</p>
    <p><a href="/" class="back-link">Back to Products</a></p>
  </div>
</body>
</html>
